<% if notice.present? %>
  <div id="notice"> 
    <div class="alert alert-warning" >
      <strong><%= notice %></strong>
    </div>
  </div>
<% end %>
<h1>Index page</h1>
<%= @pins.each do |pin| %>
    <h3><%= link_to "#{pin.title}", pin_path(pin) %></h3>
    <p><%= pin.description %></p>
<% end %>